 <!DOCTYPE html>
    <html>
        <head>
            <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>
            <link href="/static/styles.css" rel="stylesheet"/>
            <title>Estefany Rizo</title>
        </head>
        <body>
        <nav class="navbar navbar-expand-md navbar-light bg-light border">
            <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav mr-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/quote">Biografia</a></li>
                        <li class="nav-item"><a class="nav-link" href="/buy">Carrera</a></li>
                        <li class="nav-item"><a class="nav-link" href="/sell">Contacto</a></li>
                    </ul>
        </nav>
            <div>
                <h1>Hola mundo, soy Estefany </h1>

                <img src="/static/IMG_2072.JPG">

                <h6> Soy de un municipio de Matagalpa, actualmente estudio la carrera de Ingeniería en Sistemas. Me gusta bailar, programar, escuchar música y mi pasatiempo es crashear los programas que hago xd.
                Soy una persona muy creativa y con mucha imaginación. Me gusta hacer reír bastante a la gente. 
                Disponible en cualquier momento, en caso de que mis conocimientos te ayuden a crecer o si necesitas a alguien con quien conversar :3. </h6>

            </div>

            <h2>Lo que mas me gusta hacer</h2>

            <li class="nav-item"><a class="nav-link" href="bailar.html">Bailar</a></li>
            <li class="nav-item"><a class="nav-link" href="cocinar.html">Cocinar</a></li>
            <li class="nav-item"><a class="nav-link" href="musica.html">Escuchar musica</a></li>
            <li class="nav-item"><a class="nav-link" href="amigos.html">Pasar tiempo con mis amigos</a></li>



        </body>

    </html>